/* #205444 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

html {
  color: black;
  /*     font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 250; */
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  /*     text-rendering: optimizeLegibility; */
}
/*----#0C1F63-----blue--color-----*/
body {
  /*    background-color: #fff;*/
  background-color: #797c86;
}
p {
  font-size: 90%;
  padding: 0.5px;
}
.menu {
  width: 100%;
  margin: 0 auto;
  background-color: #205444;
  border-color: white;
  color: rgb(238, 238, 238);
  font-size: 85%;
  /*     z-index: 1; */
  /*     border-bottom: 2px solid white;  */
}
.menu a,
nav a,
nav a:hover,
menu a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.active {
  background-color: white !important;
  color: #0c1f63 !important;
}

.tagline {
  /*         display: block; */
  width: 100%;
  text-align: center;
  font-size: 80%;
  color: #0c1f63;
  background-color: rgb(253, 253, 253);
  /*         background-color: #bbc8f7; */
  margin-top: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 0.5px solid black;
}

.bg-this {
  background-color: #205444e7 !important;
}

/* html{
          background-color:black;
        } */
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
td {
  border: 1px solid black;
}
text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
.link {
  stroke: #c1c1c1;
  stroke-width: 2px;
  pointer-events: all;
}
.ui-widget {
  color: black;
  /*            margin-top:-1100px; */
  /*           margin-left: 50px; */
  /*             list-style: none; */
  /*           width: 50px; */
}
.ui-autocomplete {
  /*             position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left; */
  /*             min-width: 160px; */
  padding: 5px 0;
  margin: 2px 1px;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #cccccc;
  border: 1px solid#111111;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

  max-height: 30em;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  /*               overflow-x: hidden; */
  /* add padding to account for vertical scrollbar */
  /*               padding-right: 20px; */
}
.ui-widget ul,
.ui-widget p {
  padding: 1px;
  font-size: 90%;
  border: 1px;
}
.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}
/*   .circles circle {
              pointer-events: all;
              stroke: #777;
              stroke-width: 1px;
            } */

div.tooltip {
  position: absolute;
  background-color: white;
  max-width: 350px;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-size: 12px;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.74); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 12px;
  cursor: pointer;
  background-color: #111;
  color: white;
  /*     padding: 4px 4px; */
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right 0.5s; /* If you want a transition effect */
  /*     padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Spin icon */
.nicon {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*   footer floating content  */
.aimedLogo {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 10vw;
  /* margin-left: auto;
margin-right: auto; */
  max-width: 250px;
  min-width: 200px;
  z-index: 9;
}

.aimedLogo img {
  width: 25%;
  height: auto;
}

/* #808184 Ai.Med logo grey */

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.node text {
  font: 9px helvetica;
}
