<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="myDiv" style="width: 100%; height: 100%;">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>
    <script>
        function makeplot() {
            Plotly.d3.csv("PAGs.csv", function (data) { processData(data) });

        };
        //n=;
        //a=Math.log10(n);
       // a=1.77e-180;
        //console.log(Number(a).toPrecision());
      
        function processData(allRows) {

            //console.log(allRows);
            var x = [], y = [], standard_deviation = [], size =[], name=[], type=[], pvalue=[], color=[], pagid=[];
            

             // Display data with new order !
          

            for (var i = 0; i < allRows.length; i++) {
                row = allRows[i];
                y.push(row['PAG ID']);
                x.push(row['p-value']);
                size.push(row['Overlap']);
                color.push(row['CoCo score']);
                name.push(row['Name']);
                pagid.push(row['PAG ID']);
                type.push(row['Type']);
                pvalue.push(row['Similarity score']);
            }
            //console.log('X', x, 'Y', y, 'SD', standard_deviation,'size',size);
            makePlotly(x, y, size, standard_deviation, name,type,pvalue,color,pagid);
            //y.sort();
            //x=Number(x)
            console.log(y);
            console.log(x);
            //console.log(Number(x).toPrecision());
            //var floatNum = x;    //equal to 31250000
            //let results = x.map(Math.log10);
             //console.log(results);
            //console.log(x.map(Math.log10(i)));
            
        }
        

        function makePlotly(x, y, size, standard_deviation,name,type,pvalue,color) {
            var bubbleDiv = document.getElementById("bubble-chart");
            var layout = {yaxis: {title:'PAG ID'} ,xaxis: {side :"top",title:'–log₁₀(p-value)'}};
            var traceA = [{
                type: "scatter",
                mode: "markers",
                x: x.map(a => Math.abs(Math.log10(a))).reverse(),
                y: y.sort().reverse(),
                orientation: 'h',
                text:name,
                
                //xaxis: {side: 'top'},
                marker: {
                    
                    color: color,
                    colorscale: [[0, 'rgb(250, 215, 215)'],[0.5, 'rgb(252, 121, 121)'] [1, 'rgb(245, 0, 0)']],
                    cmin: 0,
                    cmax: 1000,
                    size: size.reverse(),
                    sizemode:'area',
                    //sizeref: 2.*max(size)/(40.**2),
                    //sizemin: 4,
                    sizeref: 0.2,
                    showscale: true,
                    colorbar: {
                        thickness: 10,
                        y: 0.5,
                        ypad: 0,
                        title: 'CoCo score',
                        titleside: 'bottom',
                        outlinewidth: 1,
                        outlinecolor: 'black',
                        tickfont: {
                            family: 'Lato',
                            size: 14,
                            color: 'red'
                        }
                    }
                }
                   
                }];
                Plotly.newPlot('myDiv', traceA,layout,{displaylogo: false},
                    
                   );
                };
            makeplot();
            


    </script>
</body>